.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__container > h1 {
  color: #E3E3E3;
  font-weight: 600;
  margin: 15px 0;
}
.home__container > h3 {
  color: #636CFE;
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.data__container {
  display: flex;
  align-items: center;
}

.data__container > div {
  margin: 20px;
}

.image__container {
  position: relative;
  width: 300px;
  height: 250px;
  border-radius: 10px;
  background-size: cover;
  cursor: pointer;
}

.image__container img {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  cursor: pointer;
}

.image__container .content {
  position: absolute;
  bottom: 30px;
  left: 15px;
  display: flex;
  align-items: center;
  color: white
}

.content p {
  margin: 0
}

.place__content {
  display: flex;
  margin-top: 30px;
  color: white
}

.left__pane img {
  width: 300px;
  height: 100%;
}

.right__pane {
  text-align: left;
  margin-left: 30px;
  max-width: 600px
}

.right__pane > p {
  margin: 0 0 10px;
}
.right__pane > p > span {
  color: #636CFE
}

.right__pane a {
  color: #E7B7C9;
  text-decoration: none;
}